* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
main {
    width: 700px;
    margin: auto;
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-style: italic;
    color: gray;
    text-align: left;
}

p, label, input {
    font-size: 20px;
}

button {
    color: white;
    background-color: blue;
    border-radius: 10px;
    font-size: 20px;
    margin: 2px;
}

.quizPage {
    position: relative;
    text-align: left;
}

#highScoresBtn {
    color: rgb(100, 0, 140);
    background-color: white;
    border: none;
    font-size: 16px;
}

#timerDisplay {
    float: right;
}

#welcome {
    text-align: center;
}

#highscoreList {
    background-color: rgb(235, 218, 255);
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}